*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background: #eee;
  font-family: "Poppins", sans-serif;
  /* padding: 0 16px; */
}
h1,
h2,
p {
  margin: 0;
}

::placeholder {
  font-size: 1rem;
}

.section-center {
  width: min(80%, 500px);
  margin: 0 auto;
}

input[type="date"] {
  background-color: #0080ff;
  color: #fff;
  font-size: 1rem;
  cursor: pointer;
  padding: 0.8rem;
  border-radius: 5px;
}

::-webkit-calendar-picker-indicator {
  background-color: #fff;
}

header {
  background-color: #f5ba13;
  padding: 1rem;
}

header h1 {
  color: #fff;
}

/* icons styling */
/* .fa-location-dot {
  color: red;
} */

form {
  position: relative;
  margin: 2rem auto;
  background: #fff;
  /* background: pink; */
  padding: 1rem 2rem;
  border-radius: 7px;
  box-shadow: 0 1px 5px rgb(0, 0, 0, 0.3);
}

input,
textarea {
  border: none;
  outline: none;
  background: none;
  width: 100%;
  margin: 1rem 0;
  border-bottom: 1px solid lightgray;
  padding: 0.3rem;
  font-size: 1rem;
  resize: none;
}
.create-event-btn {
  border: none;
  outline: none;
  position: absolute;
  right: 0;
  bottom: 0;
  transform: translateY(50%);
  background: #f5ba13;
  color: #fff;
  width: 80px;
  height: 40px;
  border-radius: 5px;
  padding: 0.5rem 1rem;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
  cursor: pointer;
  transition: all 0.25s ease;
}
.create-event-btn:hover {
  color: #f5ba13;
  background: #fff;
}

.event-item {
  background: #fff;
  border-radius: 7px;
  padding: 1rem;
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.3);
}
.event-item .header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.event-item .title {
  font-size: 1.3rem;
}
.event-item .info {
  font-size: 1rem;
  white-space: pre-wrap;
  word-wrap: break-word;
}
.event-item .location,
.event-item .date {
  font-weight: 600;
  font-size: 1.1rem;
}

.action-btns {
  /* background: pink; */
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

footer {
  /* position: absolute; */
  text-align: center;
  height: 2.5rem;
  background: rgb(174, 160, 162);
  color: #ccc;
  display: none;
}
