*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background: #eee;
  font-family: "Poppins", sans-serif;
}

button {
  border: none;
  background: 0;
  outline: none;
  cursor: pointer;
}

h1,
h2,
p {
  margin: 0;
}

::placeholder {
  font-family: "Poppins", sans-serif;
  font-size: 1rem;
}

.section-center {
  width: min(80%, 400px);
  margin: 0 auto;
}

input[type="date"] {
  background-color: #0080ff;
  color: #fff;
  padding: 0.7rem;
  border-radius: 5px;
  cursor: pointer;
}

::-webkit-calendar-picker-indicator {
  background-color: #fff;
}

.main-header {
  /* font-size: 1.5rem; */
  text-align: center;
  padding: 0.5rem 0;
  color: #272727;
}

.header__title {
  font-weight: 900;
}

.form-container {
  border-radius: 7px;
  box-shadow: 0 1px 5px rgb(0, 0, 0, 0.3);
  background: #fff;
  margin: 2rem auto;
}

.alert {
  text-align: center;
  font-size: 1.2rem;
}

.create-form {
  padding: 1rem 1.5rem;
}

input,
textarea {
  border: none;
  background: none;
  outline: none;
  border: 1px solid #0080ff;
  border-radius: 5px;
  width: 100%;
  margin: 0.5rem 0;
  /* border-bottom: 1px solid hsl(0, 0%, 85%); */
  padding: 0.3rem;
  font-size: 1.2rem;
  font-family: inherit;
}

textarea {
  resize: none;
  margin: 0;
}

.date-label {
  display: inline-block;
  margin-top: 0.3rem;
}

.create-event-btn {
  border: none;
  outline: none;
  color: #272727;
  background: #f5ba13;
  font-weight: bold;
  font-size: 1rem;
  margin-top: 0.5rem;
  border-radius: 5px;
  padding: 0.5rem 1rem;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
  cursor: pointer;
  transition: all 0.25s ease;
}

.create-event-btn:hover {
  background: hsl(44, 92%, 62%);
}

.event-item {
  background: #fff;
  border-radius: 7px;
  padding: 1rem;
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.3);
  margin: 1rem 0;
}
.event-item .header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.expand-btn {
  background: #f5ba13;
  padding: 0.3rem;
  border-radius: 5px;
  color: #fff;
}

.event-item .title {
  font-size: 1.1rem;
}

.event-item .location,
.event-item .date,
.event-item .time {
  display: flex;
  align-items: center;
  gap: 0.7rem;
  margin: 0.7rem 0;
}

.clock-icon {
  color: hsl(240, 100%, 20%);
}

.location-icon {
  color: #0080ff;
}

.date-icon {
  color: green;
}

.action-btns {
  display: flex;
  gap: 1rem;
  align-items: center;
  justify-content: flex-end;
}

.delete-btn {
  color: red;
}

.edit-btn {
  color: #0080ff;
}

.check-btn {
  color: green;
}
